/*--------------------------------------------------------------*/
/* All SASS Variables */
/*--------------------------------------------------------------*/


/*** Colors ***/
$weiss: #fff;
$black: #000000;
$gold: #C5A35B;


$trans: transparent;

/*** width ***/

$maxwidth: 1100px;

/*** Fonts ***/
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

$mainFont: 'Noto Serif', serif;
/*
$boldFont: 
*/

