/*--------------------------------------------------------------*/
/* All SASS Variables */
/*--------------------------------------------------------------*/


/*** Colors ***/
$weiss: #fff;
$black: #000;


$trans: transparent;

/*** width ***/

$maxwidth: 1100px;

/*** Fonts ***/
/*
$mainFont:
$boldFont: 
*/

