/*--------------------------------------------------------------*/
/* All SASS Variables */
/*--------------------------------------------------------------*/


/*** Colors ***/
$weiss: #fff;
$black: #000;


$trans: transparent;

/*** Fonts ***/
/*
$mainFont:
$boldFont: 
*/

