/************************************************
 Stylesheet: Global Stylesheet
 *************************************************/
/******************************************************************
 Stylesheet: Mixins & Constants Stylesheet
 This is where you can take advantage of Sass' great features:
 Mixins & Constants.
 ******************************************************************/
/*********************
 TOOLS
 *********************/
.image-replacement {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
/*********************
 COLORS
 *********************/
/*
 element {
 @include background-opacity(#333, 0.5);
 }
 */
/*
 .fade {
 @include opacity(.4);
 }
 */
/*********************
 TYPOGRAPHY
 *********************/
/*
 @include font-face("MyFont", "path/to/MyFont", $style: normal, $weight: normal)
 */
/* rem Umwandlung */
/*
 .demo {
 font-size: rem(24px); // Simple
 padding: rem(5px 10px); // Multiple values
 border-bottom: rem(1px solid black); // Multiple mixed values
 box-shadow: rem(0 0 2px #ccc, inset 0 0 5px #eee); // Comma-separated values
 text-shadow: rem(1px 1px) #eee, rem(-1px) 0 #eee; // Alternate use
 }
 */
/* breakpoints */
/*
 .sidebar {
 width: 60%;
 float: left;
 margin: 0 2% 0 0;
 @include bp-small {
 width: 100%;
 float: none;
 margin: 0;
 }
 }	
 */
/*********************
 CSS3 GRADIENTS.
 *********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/* order radius */
/* list reset*/
/*********************
 Centering
 *********************/
/*
 .parent {
 position: relative;
 }
 .child {
 @include centerer;
 } 
 */
/*--------------------------------------------------------------*/
/* All SASS Variables */
/*--------------------------------------------------------------*/
/*** Colors ***/
/*** Fonts ***/
/*
 $mainFont:
 $boldFont: 
 */
/*** Margin-Padding ***/
/*--------------------------------------------------------------*/
/* Layout */
/*--------------------------------------------------------------*/
body {
  background: #fff;
}
/*********************
 HEADER
 *********************/
/*********************
 NAVIGATION
 *********************/
/*********************
 TYPOGRAFIE
 font-awesome: https://fontawesome.com/how-to-use/web-fonts-with-css#less-and-sass
 *********************/
h1 {
  font-size: 3.125rem;
}
h2 {
  font-size: 0.875rem;
  color: #000;
}
p {
  margin-bottom: 1.25rem;
}
a, a:active, a:hover, a:visited {
  color: #000;
  text-decoration: none;
}
a:active, a:hover {
  color: #000;
}
.linkIcon:before {
  margin-right: 5px;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Pro";
  font-weight: 300;
}
.linkIcon.type_xlsx:before, .linkIcon.type_xls:before {
  content: "\f1c3";
}
.linkIcon.type_docx:before, .linkIcon.type_doc:before {
  content: "\f1c2";
}
.linkIcon.type_pdf:before {
  content: "\f1c1";
}
.linkIcon.type_email:before {
  content: "\f0e0";
}
.linkIcon.type_external:before {
  content: "\f08e";
}
/*********************
 SIDEBARS & ASIDES
 *********************/
.sidebar li {
  list-style: none;
}
.widget ul {
  margin: 0;
}
/*********************
 FOOTER STYLES
 *********************/
.footer {
  clear: both;
  margin-top: 1em;
}
.to-top {
  background-color: rgba(255, 255, 255, 0.75);
  display: none;
  z-index: 999;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/*********************
 POSTS & CONTENT STYLES
 *********************/
.page-title .vcard {
  border: 0px;
  padding: 0px;
}
.byline {
  color: #999;
}
.entry-content img {
  max-width: 100%;
  height: auto;
}
.entry-content .alignleft, .entry-content img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left;
}
.entry-content .alignright, .entry-content img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right;
}
.entry-content .aligncenter, .entry-content img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both;
}
.entry-content video, .entry-content object {
  max-width: 100%;
  height: auto;
}
.entry-content pre {
  background: #eee;
  border: 1px solid #cecece;
  padding: 10px;
}
.wp-caption {
  max-width: 100%;
  background: #eee;
  padding: 5px;
}
.wp-caption img {
  max-width: 100%;
  margin-bottom: 0;
  width: 100%;
}
.wp-caption p.wp-caption-text {
  font-size: 0.85em;
  margin: 4px 0 7px;
  text-align: center;
}
.post-password-form input[type="submit"] {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 1rem 0;
  font-family: inherit;
  padding: 0.85em 1em;
  -webkit-appearance: none;
  border: 1px solid transparent;
  border-radius: 0;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  font-size: 0.9rem;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  background-color: #1779ba;
  color: #fefefe;
}
[data-whatinput='mouse'] .post-password-form input[type="submit"] {
  outline: 0;
}
.post-password-form input[type="submit"]:hover, .post-password-form input[type="submit"]:focus {
  background-color: #14679e;
  color: #fefefe;
}
/*********************
 PAGE NAVI STYLES
 *********************/
.page-navigation {
  margin-top: 1rem;
}
/*********************
 COMMENT STYLES
 *********************/
#comments .commentlist {
  margin-left: 0px;
}
#respond ul {
  margin-left: 0px;
}
.commentlist li {
  position: relative;
  clear: both;
  overflow: hidden;
  list-style-type: none;
  margin-bottom: 1.5em;
  padding: 0.7335em 10px;
}
.commentlist li:last-child {
  margin-bottom: 0;
}
.commentlist li ul.children {
  margin: 0;
}
.commentlist li[class*=depth-] {
  margin-top: 1.1em;
}
.commentlist li.depth-1 {
  margin-left: 0;
  margin-top: 0;
}
.commentlist li:not(.depth-1) {
  margin-left: 10px;
  margin-top: 0;
  padding-bottom: 0;
}
.commentlist .vcard {
  margin-left: 50px;
}
.commentlist .vcard cite.fn {
  font-weight: 700;
  font-style: normal;
}
.commentlist .vcard time {
  float: right;
}
.commentlist .vcard time a {
  color: #999;
  text-decoration: none;
}
.commentlist .vcard time a:hover {
  text-decoration: underline;
}
.commentlist .vcard img.avatar {
  position: absolute;
  left: 10px;
  padding: 2px;
  border: 1px solid #cecece;
  background: #fff;
}
.commentlist .comment_content p {
  margin: 0.7335em 0 1.5em;
  font-size: 1em;
  line-height: 1.5em;
}
.commentlist .comment-reply-link {
  float: right;
}
/*********************
 COMMENT FORM STYLES
 *********************/
.respond-form {
  margin: 1.5em 10px;
  padding-bottom: 2.2em;
}
.respond-form form {
  margin: 0.75em 0;
}
.respond-form form li {
  list-style-type: none;
  clear: both;
  margin-bottom: 0.7335em;
}
.respond-form form li label, .respond-form form li small {
  display: none;
}
.respond-form form input[type=text], .respond-form form input[type=email], .respond-form form input[type=url], .respond-form form textarea {
  padding: 3px 6px;
  background: #efefef;
  border: 2px solid #cecece;
  line-height: 1.5em;
}
.respond-form form input[type=text]:focus, .respond-form form input[type=email]:focus, .respond-form form input[type=url]:focus, .respond-form form textarea:focus {
  background: #fff;
}
.respond-form form input[type=text]:invalid, .respond-form form input[type=email]:invalid, .respond-form form input[type=url]:invalid, .respond-form form textarea:invalid {
  outline: none;
  border-color: #fbc2c4;
  background-color: #f6e7eb;
  -ms-box-shadow: none;
  box-shadow: none;
}
.respond-form form input[type=text], .respond-form form input[type=email], .respond-form form input[type=url] {
  max-width: 400px;
  min-width: 250px;
}
.respond-form form textarea {
  resize: none;
  width: 97.3%;
  height: 150px;
}
#comment-form-title {
  margin: 0 0 1.1em;
}
#allowed_tags {
  margin: 1.5em 10px 0.7335em 0;
}
.nocomments {
  margin: 0 20px 1.1em;
}
/*********************
 PLUGIN STYLES
 *********************/
/*# sourceMappingURL=style.css.map */
